<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/stylesheet.css"></link>
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Work+Sans:ital,wght@1,100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/af8de9e751.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <style>
        body {
            background: url("./assets/1.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            color: white;
            position: relative;
            background-position: fixed;
            height: 100vh;
            margin: 0;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
    <%- include('header') %>
    <div class="headline" style="top:100px">
        <h1>
            Our story
        </h1>
    </div>
    <section class="about-section" style="color:rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0.5); border-radius: 5px; padding: 1.5%;">
        <p>Our story began in the spring of 2008, when we opened the first direct sales office in Southampton. In 2009, when online sales were not yet very developed, we decided to take a step forward and created the website for the sale of RCA policies. Since then and until now, we have been concerned with improving the services offered to our clients by facilitating the use of our website, concluding collaboration contracts with various providers of financial products for making online card payments, in full or in installments, as well as with companies by DHL and DPD couriers, for the delivery of insurance policies throughout the country. For Southampton and the surrounding area, we have developed along the way an internal delivery department, composed of seven customized Mini Cooper vehicles and our own staff, ready at any time to deliver your insurance policy in a timely manner.</p>
        <p>Our company has staff trained in the field, being at your disposal for concluding any type of general insurance (RCA, CASCO, housing, etc.) and consulting in choosing the best options for your needs.</p>
        <p>Furthermore, we want to ease the effort made by our clients regarding the conclusion of an insurance policy by reducing the time given by them, by automating the notification systems for expiration of policies / due installments and by improving the services offered by our company because we know that time and your safety are the most important.</p></section>
</body>
<%- include('footer') %>

</html>
