    <footer style="position: relative; top:600px">
        <div class="inner-footer">
            <ul class="footer-contact">
                <h3>Address</h3>
                <li>
                    Southampton, London</li>
                <li>+00 00123456</li>
                <li>insurancebest@mydomain.com</a></li>
            </ul>
            
            <form class="form_subscribe" action="/newsletter" method="POST">
                <h3>Newsletter</h3>
                <input class="newsl" placeholder="Your Name" type="text" name="first_name" id="first_name">
                <input class="newsl" placeholder="Email" type="text" name="email" id="email">    
                <button class="subscribe_btn">Subscribe</button>
                <p class="copyrights">© 2024 All Rights Reserved.</p>  
            </form>
            <ul class="footer-nav">
                <li><a href="/about">About us</a></li>
                <li><a href="/products">Products</a></li> 
                <li><a href="/contact">Contact</a></li> 
                <li><a href="/">Home</a></li>
            </ul>  
        
        </div>   
     </footer>
